{% extends "base.html" %} {% load humanize %} {% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">User Dashboard</h1>
        <p class="lead">Manage your BC Real Estate account</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
</section>

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% include 'partials/_alert.html' %}
        <h2>Welcome {{user.first_name | title}}</h2>
        {% if contacts %}
          <p>Here are the property listings that you have inquired about</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
              <tr>
                <td>{{contact.listing_id}}</td>
                <td>{{contact.listing}}</td>
                <td>
                  <a class="btn btn-info" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                  <a class="btn btn-danger" href="{% url 'delete_contact' contact.id %}">Delete Inquiry</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>You have no inquiries</p>
        {% endif %}
        {% comment %} <p>Here are the property listings that you have inquired about</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Property</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if contacts %}
            {% for contact in contacts %}
            <tr>
              <td>{{contact.id}}</td>
              <td>{{contact.listing}}</td>
              <td>
                <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">View Listing</a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td></td>
              <td>No inquiries at the moment</td>
              <td>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table> {% endcomment %}
      </div>
    </div>
  </div>
</section>
{% endblock %}