#header {
  height:50px;
  background: #2c4262;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link, a:visited {
  color: #2c4262;
}

div.breadcrumbs {
  background: #30caa0;
  color: #2c4262;
}

div .breadcrumbs a {
  color : #333;
}

.module h2, .module caption {
  background: #30caa0;
}

.inline-group h2 {
  background: #ffff00;
}

.button, input[type="button"], input[type="submit"],
.submit-row input ,a.button {
  background: #2c4262;
  color: #fff;
}

/* .module h2, .module caption, .inlinegroup h2 {
  background: #30caa0;
}

 */